.product-card

{
    border: 1px solid #ddd;
    padding: 15px;
    margin: 10px;
    border-radius: 8px;
    width: 250px;
}


.product-name{
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.product-price
{
    color:rgb(214, 39, 20);
    font-size: 16px;
}